<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
         <link rel="stylesheet" href="./style.css">
          <link rel="stylesheet" href="./nav-style.css">
        <script src="./script.js"></script>
		<title>Notes Taker</title>
	</head>
	<body>
		 <header class="page-header">
        <nav>
            <a href="">
            <img class="logo horizontal-logo" src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/162656/horizontal-logo.svg" alt="forecastr logo">
            </a>
            <div class="top-menu-wrapper">
            <div class="panel panel1"></div>
            <div class="panel panel2"></div>
            <ul class="top-menu">
                <li>
                <a href="">Product</a>
                </li>
                <li>
                <a href="">Solutions</a>
                </li>
                <li>
                <a href="">
                    <span class="fa-stack fa-2x">
                    <i class="fas fa-circle fa-stack-2x"></i>
                    <i class="fab fa-youtube fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                </li>
                </ul>
                </li>
            </ul>
            <button class="search">
                <i class="fas fa-search fa-lg"></i>
                <span>Search Resources</span>
            </button>
            <form class="search-form">
                <div>
                <input type="search" placeholder="Search Resources">
                <button aria-label="Search Resources" type="submit">
                    <i class="fas fa-search fa-2x" aria-hidden="true"></i>
                </button>
                </div>
            </form>
            </div>
        </nav>
        </header>
		<div class="cards">
			<article class="card">
				<header>
					<h2>Make Notes</h2>
				</header>
				<img
					src="https://i.ibb.co/jLVHc2q/Surface-Pro-8-1.png"
					alt="Surface-Pro-8-1"
				/>

				<div class="content">
					<p>
						The idea of reaching the North Pole by means of balloons
						appears to have been entertained many years ago.
					</p>
				</div>
			</article>

			<article class="card">
				<header>
					<h2>Ask a Doubt</h2>
				</header>
				<img
					src="https://i.ibb.co/jLVHc2q/Surface-Pro-8-1.png"
					alt="Surface-Pro-8-1"
				/>
				<div class="content">
					<p>
						The idea of reaching the North Pole by means of balloons
						appears to have been entertained many years ago.
					</p>
				</div>
			</article>
		</div>
		<footer>
			<!-- footer copyright -->
		</footer>
	</body>
</html>
